$bright-green: #85DB18;
$light-green: #CDE855;
$neutral: #F5F6D4;
$dark-green: #A7C520;
$brown: #493F0B;

$background: $brown;
$game_area: $neutral;
$snake_body: $light-green;
$snake_head: $bright-green;
$food: $dark-green;
$food-radius: $bright-green;