/* John Brock
** JQuery snake
** https://www.theodinproject.com/courses/javascript-and-jquery/lessons/jquery-and-the-dom?ref=lc-pb
** TODO: Add date finished
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Code */

/* Insert colors */
@import 'color';

*, *:before, *:after {
  background-color: $background;
}

/* Box Model*/
*, *:before, *:after { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* squares that make up game-grid */
#wrapper {
  #title { margin-top: 5px; }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #game-area {
    display: table;
    margin: 0 auto;
    background-color: $game-area;
    .grid-row { 
      display: table-row;
      .grid-square {
        width: 18px;
        height: 18px;
        display: table-cell;
        background-color: $game_area;
      }
      .snake-head { background-color: $snake-head;}
      .snake-body { background-color: $snake-body;}
      .food { 
        background-color: $food;
        border-radius: 100%;
      }
    }
  }
  h1 { 
  font-size: 300%;
  color: $bright-green;
  }
  button {
    background-color: $bright-green;
    border: none;
    color: $neutral;
    padding: 15px 32px;
    margin-top: 15px; 
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
}
